extends ../../layouts/common 

block content 
    script(src="../../JS/insertSupplier.js") 

    div(style="margin-left: 13%")
        .shadow.p-3.mb-5.bg-white.rounded.mt-3.ml-4.mr-4
            h4.font-weight-bold Tạo mới nhà cung cấp
            hr
            form(method="POST" autocomplete="off")
                .form-group 
                    label(for="name") Tên nhà cung cấp:
                    input#name.form-control(type="text" name="name" style="width: 30%" placeholder="Tên nhà cung cấp..." required)
                            
                .form-group 
                    label(for="address") Địa chỉ: 
                    input#address.form-control(type="text" name="address" style="width: 30%" placeholder="Địa chỉ..." required)

                .form-group 
                    label(for="phone") Số điện thoại: 
                    input#phone.form-control(onchange="checkPhone()" type="text" name="phone" style="width: 30%" placeholder="Số điện thoại..." required)              
                    small#checkphone(style="color: red")

                .form-group 
                    label(for="email") Email: 
                    input#email.form-control(type="email" name="email" style="width: 30%" placeholder="Email..." required)                

                .form-group 
                    label(for="date") Ngày hợp tác: 
                    input#date.ml-2(onchange="checkDate()" type="date" required) 
                    small#checkDate.form-text(style="color: red") 

                .form-group
                    button.btn.btn-primary(type="submit") Lưu thông tin     

    script. 
        function checkDate(){
            var today = new Date();
            var day = today.getDate() + "/" + (today.getMonth()+1) + "/" + today.getFullYear();
            var min = "01/01/1980";
            var ngay = document.getElementById('date').value;

            if(ngay > day || ngay < min){
                document.getElementById('checkDate').innerHTML = "Vui lòng chọn ngày từ 01/01/1980 đến ngày hiện tại !";
                document.getElementById('date').style.borderColor = "red";
            }
            else 
            {
                document.getElementById('checkDate').innerHTML = "";
                document.getElementById('date').style.borderColor = "";
            }
        }
