extends ../../layouts/common.pug

block content 
    script(src="../../JS/insertProduct.js") 

    div(style="margin-left: 13%")
        .shadow.p-3.mb-5.bg-white.rounded.mt-3.ml-4.mr-4
            h4.font-weight-bold Tạo mới vật tư
            hr

            form#frm(autocomplete="off" method="POST")
                div(class="form-group")
                    label(for="name") Tên vật tư
                    input#name(type="text" class="form-control" name="name" style="width: 30%" placeholder="Tên vật tư..." required)
                div(class="form-group")
                    label(for="unit") Đơn vị tính
                    input#unit(type="text" class="form-control" name="unit" style="width: 30%" placeholder="Đơn vị..." required)

                div(class="form-group")
                    label(for="price") Giá
                    input#price(onChange="checkPrice()"  type="text" class="form-control" name="price" style="width: 30%" placeholder="Giá..." required)
                    small#checkprice.form-text(style="color: red")

                div(class="form-group")
                    label(for="number") Số lượng
                    input#number(onchange="checkNumber()" type="text" class="form-control" name="number" style="width: 30%" placeholder="Số lượng..." required)
                    small#checknumber.form-text(style="color: red")

                button#btn.btn.btn-primary(type="submit" name="insert" onclick="checkForm()") Lưu thông tin

    //- script. 
    //-     function checkPrice(){
    //-         var x =  document.getElementById('price').value;
    //-         // nếu là chữ
    //-         if(isNaN(x))
    //-         {
    //-             document.getElementById('checkprice').innerHTML = "Vui lòng chỉ nhập số !";
    //-             document.getElementById('price').style.borderColor = "red";
    //-         }
    //-         else
    //-         {
    //-             document.getElementById('checkprice').innerHTML = "";
    //-             document.getElementById('price').style.borderColor = "";
    //-         }
    //-     }   

    //-     function checkNumber(){
    //-         var y =  document.getElementById('number').value;
    //-         if(isNaN(y)){
    //-             document.getElementById('checknumber').innerHTML = "Vui lòng chỉ nhập số !";
    //-             document.getElementById('number').style.borderColor = "red";
    //-         }
    //-         else 
    //-         {
    //-             document.getElementById('checknumber').innerHTML = "";
    //-             document.getElementById('number').style.borderColor = "";
    //-         }
    //-     }